<mat-card>
  <form [formGroup]="postFrom" (ngSubmit)="onAddPost()">
    <mat-form-field>
      <input
      matInput
      type="text"
      placeholder="Title"
      formControlName="title"
      required>
      <mat-error *ngIf="!postFrom.hasError('required')">Please enter post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
       matInput
       placeholder="Content"
       formControlName="content"
       id=""
       rows="3"
       required>
      </textarea>
      <mat-error *ngIf="!postFrom.hasError('required')">Please enter post content</mat-error>
    </mat-form-field>
    <button
      class="submit-button"
      color="accent"
      (click)="onAddPost()"
      mat-raised-button
      [disabled]="!postFrom.valid">
      Save Post
    </button>
  </form>
</mat-card>

