mat-card {
  margin: 0 auto;
  display: block;
  width: 70%;
}

mat-form-field,
textarea {
  width: 100%;
}

.submit-button {
  margin-top: 10px;
}

mat-spinner {
  margin: auto;
}

.pickImgbtn {
  margin: 10px auto;
}

.filePicker {
  visibility: hidden;
}

.image-preview {
  height: 20rem;
  width: fit-content;
  margin: 10px auto;
  display: block;
}

.image-preview img {
  height: 100%;
}
