<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [ngClass]="{hidden: (isHandset$ | async)=== false}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a routerLinkActive= "active" [routerLinkActiveOptions]="{exact: true}" mat-list-item routerLink="/">Post List</a>
      <a routerLinkActive= "active" mat-list-item routerLink="/create" *ngIf="userIsAuthenticated">New Post</a>
      <a routerLinkActive= "active" mat-list-item routerLink="/login" *ngIf="!userIsAuthenticated">Login</a>
      <a routerLinkActive= "active" mat-list-item routerLink="/signup" *ngIf="!userIsAuthenticated">Signup</a>
      <a mat-list-item (click)="onLogout()" *ngIf="userIsAuthenticated">Logout</a>
      <!-- <a mat-list-item href="#">Contact</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Mean course</span>
      <span class="spacer"></span>
      <div [ngClass]="{hidden: (isHandset$ | async)=== true}">
        <a routerLinkActive= "active" [routerLinkActiveOptions]="{exact: true}" mat-button routerLink="/">Post List</a>
        <a routerLinkActive= "active" mat-button routerLink="/create" *ngIf="userIsAuthenticated">New Post</a>
        <a routerLinkActive= "active" mat-button routerLink="/login" *ngIf="!userIsAuthenticated">Login</a>
        <a routerLinkActive= "active" mat-button routerLink="/signup" *ngIf="!userIsAuthenticated">Signup</a>
        <button mat-button (click)="onLogout()" *ngIf="userIsAuthenticated">Logout</button>
        <!-- <a href="#">Contact</a> -->
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
