.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
}

.mat-nav-list a.active {
  background: #e6e6e6;
}
mat-toolbar a.active {
  background: #e6e6e634;
}
mat-toolbar a {
  width: 100px;
}
