<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <form *ngIf="!isLoading" [formGroup]="signupFrom" (ngSubmit)="onSignup()" >
    <mat-form-field>
      <input
        appAutoFocus
        matInput
        type="email"
        formControlName="email"
        placeholder="Email"
        required>
        <mat-error *ngIf="!signupFrom.hasError('required')">Please enter valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        required>
        <mat-error *ngIf="!signupFrom.hasError('required')">Please enter valid password</mat-error>
    </mat-form-field>
    <button [disabled]="!signupFrom.valid" type="submit" mat-raised-button color="accent">SIGNUP</button>
  </form>
</mat-card>
