.text-post {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
  margin-bottom: 10px;
}

.post-image img {
  width: 80%;
  margin: 5px 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
